/*
** inertia/styles/core.css
*/

* {
	font: 13px/1.3em Arial;
	margin: 0; padding: 0;
	cursor: default;
}

/* Window */

article.window-view {
	border: 1px solid red;
}

article.window-view {
	position: absolute; left: 10px; top: 10px;
	background: #ededed;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
	x-webkit-border-image: url(../images/shadow.png) 10 / 10px;
	x-webkit-border-image: url(../images/shadow2.png) 10 / 10px repeat stretch;
}

article.window-view header {
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#a0a0a0));
	border-top: 1px solid #e0e0e0; border-bottom: 1px solid #606060;
	-webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px;
}

article.window-view header h1 {
	font-size: 14px; text-align: center;
	height: 20px; line-height: 21px;
	text-shadow: 0px 1px 1px #d0d0d0;
}

article.window-view div.details {
	display: block;
}

/* Controls */		

button {
	display: block; float: right; margin-left: 12px;
	width: 80px; height: 21px; line-height: 20px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#FFFFFF),
				color-stop(.35, #ebebeb),
				color-stop(.35, #E6E6E6));
	border: 1px solid #5b5b5b;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
						inset 0 -12px -3px rgba(0, 0, 0, 0.05);
}

button:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3c8e1), to(#b5e3f7),
				color-stop(.35, #7cb0dc),
				color-stop(.35, #5d9fd4));
	border: 1px solid #5b5b5b;
}

.rounded button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.strong {
	font-weight: bold;
}

.small {
	font-size: 12px;
}

.light {
	color: #c0c0c0;
}

.desktop-view {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0;
	background: url(../images/desktop_back.jpg);
	background-size: 100%;
}

/* Dialogs */

.dialog-view {
	width: 420px;
}

.dialog-view div.details {
	display: block;
	padding: 18px 18px;
}

.dialog-view h2 {
	font-weight: bold; margin-bottom: 8px;
}

.dialog-view .message {
	min-height: 58px;
}

.dialog-view .message:before {
	float: left; margin: 0 20px 0 8px;
	content: url(../images/warning_icon.png);
}

.dialog-view .buttons {
	overflow: hidden; padding-bottom: 2px; margin-bottom: -2px; margin-top: 15px;
}

/* Menus */

.menu {
	position: absolute;
	z-index: 1000;
	list-style: none;
}

.menu a {
	display: block;
	font-size: 15px;
}

.menu > li.active > a,
.menu > li:hover > a {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#5170f6), to(#1a42f1));
}


.menu-bar {
	height: 21px; width: 100%; padding-left: 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#c3c3c3));
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
}

.menu-bar > li {
	float: left;
}

.menu-bar > li > a {
	height: 20px;
	padding: 0 9px;
	line-height: 20px;
	border-top: 1px solid #f9f9f9;
	text-shadow: 0px 1px 1px #e0e0e0;
}

.menu-bar > li.active > a,
.menu-bar > li:hover > a {
	position: relative; z-index: 10000;
	border-top: 1px solid #627ff6;
	border-bottom: 1px solid #0c31cf;
}

.menu-bar > li.active > a,
.menu-bar > li:hover > a {
	text-shadow: none;
}

.menu-pane {
	display: none; xmargin-top: 21px;
	margin-left: -1px; margin-top: -1px; padding: 4px 0;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.menu-bar li.active .menu-pane,
.menu-bar li:hover .menu-pane {
	display: block;
}

.menu-pane > li > a {
	height: 19px;
	line-height: 18px;
	padding: 0 12px 0 20px;
}

.menu-pane hr {
	height: 1px;
	margin: 5px 1px 6px 1px;
	background: #dadada;
	border: none;
}

.menu-pane > li > a:before {
	content: '';
	float: right;
	margin-left: 18px;
}

.menu-pane > li.shift-apple-s > a:before {
	content: '\21E7\2318 S';
}

.menu-pane > li.apple-x > a:before {
	content: '\2318 X';
}

.menu-pane > li.apple-c > a:before {
	content: '\2318 C';
}

.menu-pane > li.submenu > a:before {
	content: '\25B6';
	font-size: 12px;
	color: #59595a;
	margin-top: 1px;
}

.menu-pane > li:hover.submenu > a:before {
	color: white;
}
